<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Category list</th>
        <th>Category</th>
        <th>Address</th>

    </tr>
    </thead>
    <tr th:each="donationEvent : ${donationEvents}">
        <td th:text="${donationEvent.eventName}"></td>
        <td th:text="${donationEvent.eventDescription}"></td>
        <td th:text="${donationEvent.eventCategoryList}"></td>
        <td th:text="${donationEvent.eventCategory}"></td>
        <td th:text="${donationEvent.Address.address}"></td>


    </tr>
</table>

</body>
</html>